extends ../main

block content
  section.content.container-fluid
    header.main-header.row
      div.col-sm-3
        include ../logo
     
      nav.container.navigation.col-sm-9
        ul.list-inline.pull-right
          block nav
            li: a(href="/",title="Rechercher"): span.glyphicon.glyphicon-search
            li: a(href="/article/create",title="Nouvel article"): span.glyphicon.glyphicon-font

    main
      block main