extends ../main

block content
    div.col-sm-3.leftbar.full-height
        block leftbar
            div.row(id="logo")
                include ../logo

            nav.row.left-menu
                block left-menu
                    h3 Nav

    main.col-sm-6.border-shadow.full-height
        block main

    div.col-sm-3.rightbar.full-height
        block rightbar
            div.row.search-bar
                div.col-xs-12    
                    input(id="searchAside" type="search" placeholder="Rechercher").form-control

            div.row
                nav.navigation.col-xs-12
                    ul.list-inline.pull-left
                        block nav
                            li: a(href="/article/create",title="Nouvel article"): span.glyphicon.glyphicon-font
                            li: a(href="/article/",title="Liste des articles"): span.glyphicon.glyphicon-th-list


            div.row.rightbar-content
                block rightbar-content