doctype html
html(lang="fr")
  head
  title Demo
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  // STYLES
  link(rel="stylesheet", href="/styles/bootstrap/bootstrap.min.css")
  link(rel="stylesheet", href="/styles/bootstrap/material-wfont.min.css")
  link(rel="stylesheet", href="/styles/bootstrap/material.min.css")
  // STYLES END

body
  block body


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
// SCRIPTS
script(src="/js/dependencies/sails.io.js")
script(src="/js/dependencies/bootstrap/bootstrap.min.js")
script(src="/js/dependencies/bootstrap/material.min.js")
// SCRIPTS END
