extends ../layouts/single-column
block content
    div.row
        div.col.col-md-10.col-md-offset-1
            div.panel.panel-default.create-article
                div.panel-body
                    form(action='/Article/create',method='post',role='form').form-horizontal
                        fieldset
                            legend Nouvel article
                            if (typeof(errors) !== 'undefined')
                                div.alert.alert-dismissable.alert-danger
                                    button(type='button',data-dismiss='alert').close x
                                    ul
                                        each error, index in errors.invalidAttributes
                                            li #{index} :
                                                each errorAttributes in error
                                                    p #{errorAttributes.message}
                            div.form-group  
                                label(for='titre').control-label Titre
                                input(type='text',name='Article[title]',value="#{ article ? article.title : '' }",id='titre').form-control
                            div.form-group
                                label(for='contenue').control-label Contenu
                                textarea(name='Article[content]', data-provide="markdown", rows='10', cols='30').form-control #{ article ? article.content : '' }
                            
                            div.form-group
                                input(type='submit').btn.btn-primary
