<form action="/Article/create" method="POST">
	<label for="titre">Titre</label>
	<input type="text" id="titre" name='Article[title]'>
	<textarea name="Article[content]" id="" cols="30" rows="10"></textarea>
	<input type="submit">
</form>