extends ../layouts/single-column
block main

	h2 Liste des articles
	- var message = req.flash('info');
	if( message.length > 0)
		div.alert.alert-dismissable.alert-success
			button(type='button',data-dismiss='alert').close x
			p  #{message}
	if (articles.length > 0)
		div.list-group
			each article in articles
				a.list-group-item(href="/article/#{article.id}")
					h4 #{article.title}
					p  #{article.abstract}
				div.list-group-separator
	else
		p Aucun article

