extends ../layouts/three-column
block localscript
        script(src="/js/article.js")

block prepend nav
    li: a(href="/article/delete/"+article.id,onclick="return confirm('êtes-vous sur ?');"): span.glyphicon.glyphicon-remove
    li: a(href="/article/edit/"+article.id,title="editer"): span.glyphicon.glyphicon-edit

block left-menu
    h3 Relations
    ul
        li: a(href="") toto
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
        li: a(href="") tota
     
block main
    article.article
        h2 #{article.title}
        div.article-content
            !{article.content}

block rightbar-content
    aside
        h3 METADATA