extends ../main
block content
	div.cover.row
		div.inner-cover.container.text-center
			h1 WikiSails
			form.col-md-8.col-md-offset-2
				input(type="search", placeholder="Rechercher",class="search-input").form-control

