extends ../layouts/single-column

block main
	div.cover.row
		div.inner-cover.container.text-center
			h1 WIKISAILS
			h2
				span.glyphicon.glyphicon-search
			form.col-md-8.col-md-offset-2
				input(type="search", placeholder="Rechercher",class="search-input").form-control

