extends ../layouts/single-column

block main
	div.cover.row
		div.inner-cover.container.text-center
			h1 WIKISAILS
			h2
				span.glyphicon.glyphicon-search
				span.sr-only Rechercher
				
			div.form-group
				input(id="searchArticle", type="search", name='query', placeholder="Rechercher",class="search-input").form-control

			
			div(id="search-result")