extends ../layouts/single-column

block main
	div.cover.row
		div.inner-cover.container.text-center
			h1 WIKISAILS
			h2
				span.glyphicon.glyphicon-search
				span.sr-only Rechercher
				
			form(method="get", action="/article/search").col-md-8.col-md-offset-2.search-form
				div.form-group
					input(id="searchArticle", type="search", name='query', placeholder="Rechercher",class="search-input").form-control
				
				input.btn.btn-lg.btn-primary(type="submit", value="Rechercher")
				a.btn.btn-lg.btn-default(href="#") Article au hasard

