article .article-title{
	font-size: 2.9em;
	padding-bottom: 30px;
}

article .article-content .popover{
	max-width: 800px !important;
}


article .article-content .popover .popover-thumbnail{
	float: left;
	max-width: 150px !important;
	margin:10px;
}


.content .create-article{
	margin-top: 20px;
	padding: 20px;
}

#wiki-modal #res-ref-article .ref-wiki:hover{
	cursor: pointer;
	background-color: #ddd;
}
